version: "3.9"

services:
  backend:
    build: .
    container_name: trao-doi-do-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./credentials/google-vision.json:/app/credentials/google-vision.json

